body {
    background-color: lightsalmon;
    font-family: Arial, sans-serif;
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    width: 50%;
    text-align: center;
}

header h1 {
    color: white;
    margin: 1;
}

#startScreen {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#start-btn {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:bisque;
    text-decoration: underline;
}

#highscores-link {
    color: brown;
    text-decoration: none;
    padding: 5px 3px;
    border-style: double;
    border-radius: 5px;
    font-size: 20px;
}

#highscores-link:hover {
    color: burlywood;
    background-color: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    border-color: brown;
}

#startScreen p {
    color: black;
    padding: 15px 5px;
    font-size: 16px;
}

#startScreen button {
    color: burlywood;
    padding: 4px;
    border-style: double;
    border-radius: 5px;
    border-color: beige;
    font-size: 18px;
}

#quizScreen {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    color: antiquewhite;
}

#quizScreen h1 {
    color: lightsalmon;
    padding: 5px 5px 9px 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: bisque;
    font-size: 30px;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#timer {
    padding: 5px 3px;
    border-style: double;
    border-radius: 5px;
}

#timer, #timeLeft {
    color: black;
    font-size: 15px;
}

.choices {
    display: inline-block;
    width: 150px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
}

#highscoreScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highscoreScreen h2 {
    font-size: 25px;
    padding: 5px;
}

#score {
    font-size: 24px;
    margin-bottom: 20px;
    border-style: dotted;
    border-color: antiquewhite;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
    padding: 2px 5px 3px 5px;
}

#inputHead {
    color: black;
    padding: 0px 0px 8px 0px;
}

#highscoreScreen input {
    background-color: lightsalmon;
    color: bisque;
    width: 50px;
    margin: 0px 0px 8px 0px;
}

#highscoreScreen div button {
    border-radius: 5px;
    border-color: burlywood;
    border-style: solid;
}

#highscoreScreen div button:active {
    border-color: black;
}

#retry,
#submitScore {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;   
}

#retry {
    background-color: white;
    color:black;
}

#scoreList {
    margin: 5px;
    font-size: 18px;
    list-style: none;
    color: black;
}

#scoreList li {
    font-size: 20px;
    margin-bottom: 10px;
}

#hsLink {
    font-size: 20px;
    margin: 5px;
    color: brown;
    text-decoration: none;
}

#hsLink:hover::after {
    content: "⛹🏻"
}